body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-image: url(./bg.jpg)
}
#wrapper {
    background-color: white;
    padding: 20px;
}
h1 {
    color: white;
}
p {
    color: white;
}
#submit {
    background-color: red;
    border:none;
}
#start {
    margin: 0;
    text-align: center;
    background-color: red;
    padding: 10px;
    border:none;
}
